################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TheAllConverter/v15
/TheAllConverter/obj
/TheAllConverter/bin/Debug/netcoreapp2.1
